extends ../layout

block content
    .panel.panel-default.col-md-8.col-sm-10.col-xs-12
        .panel-heading
            b Edit Movie
        .panel-body
            if error
                div.alert.alert-danger
                    div.text-center #{error}
            else if success
                div.alert.alert-success
                    div.text-center #{success}
            form#edit-movie-form(action="/movies/#{movie.imdbId}/edit", method="post")
                .form-group
                    .row
                        .col-md-12.col-sm-12.col-xs-12
                            label(for="title") Title
                            input#title.form-control(name="title", value="#{movie.title}", type="text")

                    .row
                        .col-md-5.col-sm-5.col-xs-12
                            label(for="imdb-id") IMDB ID
                            input#imdb-id.form-control(name="imdbId", value="#{movie.imdbId}", type="text")

                        .col-md-4.col-sm-4.col-xs-6
                            label(for="duration") Duration
                            .input-group
                                input#duration.form-control(name="duration", value="#{movie.duration}", type="text")
                                span.input-group-addon min

                        .col-md-3.col-sm-3.col-xs-6
                            - recentYear = parseInt(new Date().getFullYear())
                            label(for="year") Year
                            select#year.form-control(name="year")
                                option(selected="selected", style="display: none") Year
                                - for (var i = recentYear; i >= 1900; i--) {
                                    - if (movie.year == i)
                                        option(value="#{i}", selected="selected") #{i}
                                    - else
                                        option(value="#{i}") #{i}
                                - }

                    .row
                        .col-md-12.col-sm-12.col-xs-12
                            label(for="description") Description
                            textarea#description.form-control(name="description")
                                |#{movie.description}

                    .row
                        .col-md-5.col-sm-5.col-xs-12
                            label(for="director") Director
                            input#director.form-control(name="director", value="#{movie.director}", type="text")
                        .col-md-7.col-sm-7.col-xs-12
                            label(for="posterUrl") Poster URL
                            input#posterUrl.form-control(name="posterUrl", value="#{movie.posterUrl}", type="text")

                    .row
                        .col-md-3.col-sm-3.col-xs-12.submit-button
                            input#submit.btn.btn-primary.form-control(value="Update", type="submit")

